<%= form_for ([@photo, @tag]) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</$

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_key %><br>
    <%= f.text_field :tag_key %>
  </div>
  <div class="field">
    <%= f.label :tag_value %><br>
    <%= f.text_field :tag_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
