<p id="notice"><%= notice %></p>
<table>
<tr>
<th><strong>Name:</strong></th>
<% if user_signed_in? %>
<th><strong>Description:</strong></th>
<th><strong>Tags:</strong></th>
<% end %>
<th><strong>Picture:</strong></th>	
</tr>
<tr>
  <td><%= @photo.name %></td>

<% if user_signed_in? %>
<td>  <%= @photo.description %></td>
<td>  <%= @photo.tags %></td>
<% end %>

<td> <%= image_tag(@photo.picture_url, :width => 600) if @photo.picture.present? %></td>
</table>
<table>
<% if user_signed_in? %>
<% if @photo.user_id.match(current_user.email) %>
<td><%= link_to 'Edit', edit_photo_path(@photo) %></td> 
<% end %>
<% end %>
<td><%= link_to 'Back', photos_path %></td>
</table>
